<div class="navbar-outer">
  <div class="navbar-inner">
    <div class="name-title">
      <%# <h2>Owen Baldwin</h2> %>
      <h2>OWEN BALDWIN</h2>
    </div>
    <div class="tabs">
      <ul>
        <%# add link_to %>
        <li> <%= link_to "HOME", root_path %></li>
        <li> <%= link_to "PORTFOLIO", portfolio_path %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><%= link_to "REFERENCES", references_path %></li>
        <li><%= link_to "CONTACT", contact_path %></li>
        <li><%= link_to "WEB DEVELOPMENT", portfolio_path %></li>
      </ul>
    </div>
  </div>
</div>
