<% content_for :meta_title, "Web Development - Owen Baldwin" %>


<div class="portfolio-background">


  <div class="portfolio-body">
    <div class="portfolio-body-inner">
      <div class="square-deco-container container">
        <div class="square-deco-content">
          <div class="dev-title">
            <h1>WEB DEVELOPMENT</h1>
            <p>I also work as a full stack web developer. Here you will find my portfolio as well as links to my Github and projects!</p>


            <main class="main">
              <div class="small-button">
                <div class="small-button__ornament small-button__ornament--vertical">
                  <div class="small-button__ornament-top-bottom"></div>
                  <div class="small-button__ornament-left-right"></div>
                </div>

                <div class="small-button__ornament small-button__ornament--horisontal">
                  <div class="small-button__ornament-top-bottom"></div>
                  <div class="small-button__ornament-left-right"></div>
                </div>
                <span class="button__label"><%= link_to "Github page", "https://github.com/owenbaldwin", :target => "_blank", id: "dev-buttons" %></span>
              </div>
            </main>

          </div>


          <div class="dev-projects">
            <div class="dev-item">
              <h2>FILMPOD</h2>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= image_tag "filmpod1.png", class: "d-block w-100", alt: "First slide" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "filmpod2.png", class: "d-block w-100", alt: "Second slide" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "filmpod3.png", class: "d-block w-100", alt: "Third slide" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "filmpod4.png", class: "d-block w-100", alt: "Fourth slide" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "filmpod5.png", class: "d-block w-100", alt: "Fifth slide" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "filmpod6.png", class: "d-block w-100", alt: "Sixth slide" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "filmpod7.png", class: "d-block w-100", alt: "Seventh slide" %>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <div class="item-description">
                <p>Filmpod is a project management web app for film productions. It allows direction members and head of departments to send out tasks to their team mates, who in turn send back submissions.
                If approved by a superior, these submissions (photos of costumes, of locations, of actors, snippets of audio etc...) are pinned to a moodboard.
                Each department has a moodboard, accessible by all crew members. This allows the whole team to know where the film is at and what the aesthetics are. No more trouble conveying the vision for the film, everyone is on the same page!
                And thanks to the task and submission management system, no more drowning in a sea of emails!
                <br>This app is still in development with fellow Le Wagon graduates Zoe Bell, Emma Zurstrassen and Joe Waymark.</p>

                <main class="main">
                  <div class="small-button">
                    <div class="small-button__ornament small-button__ornament--vertical">
                      <div class="small-button__ornament-top-bottom"></div>
                      <div class="small-button__ornament-left-right"></div>
                    </div>

                    <div class="small-button__ornament small-button__ornament--horisontal">
                      <div class="small-button__ornament-top-bottom"></div>
                      <div class="small-button__ornament-left-right"></div>
                    </div>
                    <span class="button__label"><%= link_to "Visit Filmpod", "http://www.filmpod.net/", :target => "_blank", id: "dev-buttons" %></span>
                  </div>
                </main>
              </div>
            </div>


            <div class="dev-item">
              <h2>ISLEBNB</h2>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= image_tag "islebnb1.png", class: "d-block w-100", alt: "First slide" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "islebnb2.png", class: "d-block w-100", alt: "Second slide" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "islebnb3.png", class: "d-block w-100", alt: "Third slide" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "islebnb4.png", class: "d-block w-100", alt: "Fourth slide" %>
                  </div>
                  <div class="carousel-item">
                    <%= image_tag "islebnb5.png", class: "d-block w-100", alt: "Fifth slide" %>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <div class="item-description">
                <p>IsleBnB is a clone of AirBnB. It was built with fellow Le Wagon graduates Zoe Bell, Emma Zurstrassen and Joe Waymark.</p>

                <%# FIX LINK!!! %>
                <main class="main">
                  <div class="small-button">
                    <div class="small-button__ornament small-button__ornament--vertical">
                      <div class="small-button__ornament-top-bottom"></div>
                      <div class="small-button__ornament-left-right"></div>
                    </div>

                    <div class="small-button__ornament small-button__ornament--horisontal">
                      <div class="small-button__ornament-top-bottom"></div>
                      <div class="small-button__ornament-left-right"></div>
                    </div>
                    <span class="button__label"><%= link_to "Visit IsleBnB", "https://airbnb-owenbaldwin.herokuapp.com/", :target => "_blank", id: "dev-buttons" %></span>
                  </div>
                </main>
              </div>
            </div>
          </div>



        </div>
        <div class="square-deco-inner"></div>
        <div class="square-deco-square-left-top"></div>
        <div class="square-deco-square-left-bottom"></div>
        <div class="square-deco-square-right-top"></div>
        <div class="square-deco-square-right-bottom"></div>
        <div class="square-deco-tall"></div>
        <div class="square-deco-wide"></div>
      </div>

    </div>
  </div>
</div>
